<ion-view title="Curriculum" class="fully" hide-nav-bar="true">
  <ion-content class="mbr">
    <div >
      <div >

        <h1>Programme d'études de mathématiques</h1>

        <div class="voile">
          <div>
            <p>Disponible partout et à tout moment!</p>
          </div>
          <a menu-close="" href="#/tab/presentation" class="button button-assertive button-block button-large">Commencer
            à consulter</a>

          <div>
            <p>(C'est gratuit!!!)</p>
          </div>

        </div>
      </div>
    </div>
  </ion-content>
</ion-view>

<script type="text/javascript">
  <!--
  $('fully').height($(window).height() / 1);
  //-->
</script>
