<ion-view title="Angles">
    <ion-content padding="'true'" class="has-header">
      <div class="card">
        <div class="item item-divider warning">
          Savoirs
        </div>
        <div class="item item-text-wrap">
          <ul class="list">
            <li class="item">Notions d'angle et / ou de secteur angulaire;</li>
            <li class="item"><em>Vocabulaire et notation :</em> sommet, côtés, angle saillant, nul, aigu, droit,
              obtus, plat, rentrant, plein ;</li>
            <li class="item">Mesures (en degrés);</li>
            <li class="item">Bissectrice.</li>
          </ul>
        </div>
        <div class="item item-divider warning">
          Savoir-faire
        </div>
        <div class="item item-text-wrap">
          <ul class="list">
            <li class="item">Construction d'un angle de mesure donnée (à l'aide du rapporteur et
              de la règle);</li>
            <li class="item">Détermination de la mesure d'un angle donné;</li>
            <li class="item">Construction de la bissectrice d'un angle donné à l'aide du rapporteur
              et de la règle).</li>
          </ul>
        </div>
        <div class="item item-divider warning">
          Savoir-être
        </div>
        <div class="item item-text-wrap">
          <ul class="list">
            <li class="item">Sens de l'ordre et de la méthode</li>
            <li class="item">sens de la rigueur et de la concision</li>
          </ul>
        </div>
        <div class="item item-divider warning">
          Autres ressources
        </div>
        <div class="item item-text-wrap">
          <ul class="list">
            <li class="item">Matériels de géométrie</li>
            <li class="item">matériel expérimental</li>
            <li class="item">micro ordinateur</li>
          </ul>
        </div>
      </div>
    </ion-content>
</ion-view>
