<ion-view title="Angles">
    <ion-content padding="'true'" class="has-header">
      <div class="card">
        <div class="item item-divider warning">
          Savoirs
        </div>
        <div class="item item-text-wrap">
          <ul class="list">
            <li class="item">Angles complémentaires, angles supplémentaires</li>
            <li class="item">Angles opposés par le sommet ;</li>
            <li class="item">Angles formés par deux droites parallèles et une sécante ;</li>
            <li class="item">Angles alternes-internes, angles alternes-externes, angles correspondants.</li>
          </ul>
        </div>
        <div class="item item-divider warning">
          Savoir-faire
        </div>
        <div class="item item-text-wrap">
          <ul class="list">
            <li class="item">Utiliser les différentes propriétés pour justifier une égalité angulaire.</li>
          </ul>
        </div>
        <div class="item item-divider warning">
          Savoir-être
        </div>
        <div class="item item-text-wrap">
          <ul class="list">
            <li class="item">Sens de l'ordre et de la méthode</li>
            <li class="item">sens de la rigueur et de la concision</li>
          </ul>
        </div>
        <div class="item item-divider warning">
          Autres ressources
        </div>
        <div class="item item-text-wrap">
          <ul class="list">
            <li class="item">Matériels de géométrie</li>
            <li class="item">matériel expérimental</li>
            <li class="item">micro ordinateur</li>
          </ul>
        </div>
      </div>
    </ion-content>
</ion-view>
