<ion-view title="Arithmétique">
    <ion-content padding="'true'" class="has-header">
      <div class="card">
        <div class="item item-divider warning">
          Savoirs
        </div>
        <div class="item item-text-wrap">
          <ul class="list">
            <li class="item">Division euclidienne;</li>
            <li class="item">Puissance entière d'un entier naturel;</li>
            <li class="item">Nombres premiers;</li>
            <li class="item">PPCM et PGDC</li>
          </ul>
        </div>
        <div class="item item-divider warning">
          Savoir-faire
        </div>
        <div class="item item-text-wrap">
          <ul class="list">
            <li class="item">Décomposition en produit de facteurs premiers;</li>
            <li class="item">Application à la recherche des multiples ou des diviseurs;</li>
            <li class="item">Calcul du PPMC et PGDC;</li>
            <li class="item">Critère de divisibilité : par 4 et 25.</li>
          </ul>
        </div>
        <div class="item item-divider warning">
          Savoir-être
        </div>
        <div class="item item-text-wrap">
          <ul class="list">
            <li class="item">Sens de l'ordre et de la méthode</li>
            <li class="item">sens de la rigueur et de la concision</li>
          </ul>
        </div>
        <div class="item item-divider warning">
          Autres ressources
        </div>
        <div class="item item-text-wrap">
          <ul class="list">
            <li class="item">Documentation</li>
            <li class="item">calculette</li>
            <li class="item">tableurs</li>
            <li class="item">matériel expérimental</li>
            <li class="item">thermomètres</li>
            <li class="item">altimètre</li>
          </ul>
        </div>
      </div>
    </ion-content>
</ion-view>
