<ion-view title="Calcul littéral">
  <ion-content padding="'true'" class="has-header">
    <div class="card">
      <div class="item item-divider warning">
        Savoirs
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item">Opérations avec parenthèses;</li>
          <li class="item">Suite de multiplications et de divisions sans parenthèses.</li>
        </ul>
      </div>
      <div class="item item-divider warning">
        Savoir-faire
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li  class="item">Valeur numérique d'une expression littérale simple;</li>
          <li  class="item">Utilisation des propriétés de l'addition et de la multiplication des nombres
            décimaux positifs;</li>
          <li  class="item">Calcul rapide.</li>
        </ul>
      </div>
      <div class="item item-divider warning">
        Savoir-être
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item">Sens de l'ordre et de la méthode</li>
          <li class="item">sens de la rigueur et de la concision</li>
        </ul>
      </div>
      <div class="item item-divider warning">
        Autres ressources
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item">Documentation</li>
          <li class="item">calculette</li>
          <li class="item">tableurs</li>
          <li class="item">matériel expérimental</li>
          <li class="item">thermomètres</li>
          <li class="item">altimètre</li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>
