<ion-view title="Cercle">
    <ion-content padding="'true'" class="has-header">
      <div class="card">
        <div class="item item-divider warning">
          Savoirs
        </div>
        <div class="item item-text-wrap">
          <ul class="list">
            <li class="item">Cercle circonscrit à un triangle, à un rectangle;</li>
            <li class="item"><em>Régionnement du plan par un cercle: </em>intérieur, extérieur d'un cercle</li>
          </ul>
        </div>
        <div class="item item-divider warning">
          Savoir-faire
        </div>
        <div class="item item-text-wrap">
          <ul class="list">
            <li class="item">Position d'un point par rapport à un cercle;</li>
            <li class="item">Construction du cercle circonscrit à un triangle, à un rectangle.</li>
          </ul>
        </div>
        <div class="item item-divider warning">
          Savoir-être
        </div>
        <div class="item item-text-wrap">
          <ul class="list">
            <li class="item">Sens de l'ordre et de la méthode</li>
            <li class="item">sens de la rigueur et de la concision</li>
          </ul>
        </div>
        <div class="item item-divider warning">
          Autres ressources
        </div>
        <div class="item item-text-wrap">
          <ul class="list">
            <li class="item">Matériels de géométrie</li>
            <li class="item">matériel expérimental</li>
            <li class="item">micro ordinateur</li>
          </ul>
        </div>
      </div>
    </ion-content>
</ion-view>
