<ion-view title="Cercle">
    <ion-content padding="'true'" class="has-header">
      <div class="card">
        <div class="item item-divider warning">
          Savoirs
        </div>
        <div class="item item-text-wrap">
          <ul class="list">
            <li class="item">Rayon, diamètre, corde, arc, périmètre ou circonférence du cercle, disque,
              aire du disque ;</li>
            <li class="item">Positions relatives de deux cercles.</li>
          </ul>
        </div>
        <div class="item item-divider warning">
          Savoir-faire
        </div>
        <div class="item item-text-wrap">
          <ul class="list">
            <li class="item">Tracer un cercle de centre donné et de rayon donné ;</li>
            <li class="item">Tracer un cercle de diamètre donné;</li>
            <li class="item">Calculer des éléments métriques (périmètre, aire, rayon, diamètre).</li>
          </ul>
        </div>
        <div class="item item-divider warning">
          Savoir-être
        </div>
        <div class="item item-text-wrap">
          <ul class="list">
            <li class="item">Sens de l'ordre et de la méthode</li>
            <li class="item">sens de la rigueur et de la concision</li>
          </ul>
        </div>
        <div class="item item-divider warning">
          Autres ressources
        </div>
        <div class="item item-text-wrap">
          <ul class="list">
            <li class="item">Matériels de géométrie</li>
            <li class="item">matériel expérimental</li>
            <li class="item">micro ordinateur</li>
          </ul>
        </div>
      </div>
    </ion-content>
</ion-view>
