<ion-view title="Cinquième">
  <ion-content padding="'true'" class="has-header">
    <ion-list class="lateral-transparent">
      <ion-item class="item-divider">Module 5</ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/introductionModule5">Introduction
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/matriceModule5">Matrice
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/ressourceModule5">Ressources
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item-divider">Module 6</ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/introductionModule6">Introduction
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/matriceModule6">Matrice
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/ressourceModule6">Ressources
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item-divider">Module 7</ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/introductionModule7">Introduction
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/matriceModule7">Matrice
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/ressourceModule7">Ressources
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item-divider">Module 8</ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/introductionModule8">Introduction
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/matriceModule8">Matrice
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/ressourceModule8">Ressources
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
    </ion-list>
  </ion-content>
</ion-view>
