<ion-view title="Classes">
    <ion-content padding="'true'" class="has-header">
        <ion-list class="lateral-transparent">
          <ion-item class="item-divider">Premier cycle</ion-item>
          <ion-item class="item item-icon-right" menu-close="" href="#/tab/sixieme">
            Sixième
            <i class="icon ion-android-arrow-dropright"></i>
          </ion-item>
          <ion-item class="item item-icon-right" menu-close="" href="#/tab/cinquieme">
            Cinquième
            <i class="icon ion-android-arrow-dropright"></i>
          </ion-item>

        </ion-list>
    </ion-content>
</ion-view>

