<ion-view title="Cube et pavé droit">
  <ion-content padding="'true'" class="has-header">
    <div class="card">
      <div class="item item-divider warning">
        Savoirs
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item"><em>Cube et pavé droit</em> : forme, faces, arêtes, sommets ;</li>
          <li class="item">Propriétés:
            <ul class="list-cercle">
              <li>nombre de faces, d'arêtes, de sommets,</li>
              <li>parallélisme de faces opposées,</li>
              <li>égalité des aires des faces opposées,</li>
              <li>parallélisme des supports des arêtes opposées,</li>
              <li>égalité des longueurs des arêtes opposées,</li>
              <li>perpendicularité des arêtes sécantes.</li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="item item-divider warning">
        Savoir-faire
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item">Fabrication d'un cube, d'un pavé ; réalisation d'un patron de cube, de
            pavé;</li>
          <li class="item">Calcul des éléments métriques (l'aire de la surface latérale, l'aire totale,
            volume);</li>
          <li class="item">Conversion des unités de volume.</li>
        </ul>
      </div>
      <div class="item item-divider warning">
        Savoir-être
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item">Sens de l'observation</li>
          <li class="item">sens de la précision</li>
          <li class="item">esprit critique</li>
          <li class="item">esprit d'initiative</li>
        </ul>
      </div>
      <div class="item item-divider warning">
        Autres ressources
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item">Matériels didactiques</li>
          <li class="item">vaste gamme d'objets de l'espace</li>
          <li class="item">matériel de dessin: papier, crayon, règles, compas, et autres.</li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>
