<ion-view  title="Curriculum">
    <ion-content padding="'true'" class="has-header">
      <div class="fully">
        <div class="mbr">
          <div class="row">
            <h1>Programme d'études de mathématiques</h1>
            <div>
              <p>Disponible partout et à tout moment!</p>
            </div>
            <a menu-close="" href="#/tab/presentation" class="button button-assertive button-block button-large">Commencer à consulter</a>
            <div>
              <p>(C'est gratuit)</p>
            </div>
          </div>
        </div>
      </div>
    </ion-content>
</ion-view>

