<ion-view title="Cylindre">
  <ion-content padding="'true'" class="has-header">
    <div class="card">
      <div class="item item-divider warning">
        Savoirs
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item">Cylindre de révolution : forme, base, surface latérale, surface de base,
            axe, rayon, hauteur.</li>
          </li>
        </ul>
      </div>
      <div class="item item-divider warning">
        Savoir-faire
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item">Fabrication d'un cylindre de révolution ;</li>
          <li class="item">Réalisation du patron ;</li>
          <li class="item">Calcul d'éléments métriques (l'aire de la surface latérale, l'aire totale
            et volume, hauteur, rayon de base).</li>
        </ul>
      </div>
      <div class="item item-divider warning">
        Savoir-être
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item">Sens de l'observation</li>
          <li class="item">sens de la précision</li>
          <li class="item">esprit critique</li>
          <li class="item">esprit d'initiative</li>
        </ul>
      </div>
      <div class="item item-divider warning">
        Autres ressources
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item">Matériels didactiques</li>
          <li class="item">vaste gamme d'objets de l'espace</li>
          <li class="item">matériel de dessin: papier, crayon, règles, compas, et autres.</li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>
