<ion-view title="Distances">
  <ion-content padding="'true'" class="has-header">
    <div class="card">
      <div class="item item-divider warning">
        Savoirs
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item">Distances de deux points.</li>
          <li class="item">Inégalité triangulaire.</li>
          <li class="item">Caractérisation d'un segment par les distances (Si $M\in$[AB] alors MA + MB = AB et si $MA+MB=AB$
            alors $M\in$[AB].</li>
        </ul>
      </div>
      <div class="item item-divider warning">
        Savoir-faire
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li  class="item">Construire la médiatrice d'un segment à la règle et au compas.</li>
          <li  class="item">Utiliser l'inégalité triangulaire et la caractérisation de la médiatrice pour justifier des inégalités ou des
            égalités des distances.</li>
        </ul>
      </div>
      <div class="item item-divider warning">
        Savoir-être
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item">Sens de l'ordre et de la méthode</li>
          <li class="item">sens de la rigueur et de la concision</li>
        </ul>
      </div>
      <div class="item item-divider warning">
        Autres ressources
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item">Matériels de géométrie</li>
          <li class="item">matériel expérimental</li>
          <li class="item">micro ordinateur</li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>
