<ion-view title="Fractions">
  <ion-content padding="'true'" class="has-header">
    <div class="card">
      <div class="item item-divider warning">
        Savoirs
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item">Numérateur, dénominateur, fractions égales, fractions irréductibles,
            fractions décimales;</li>
          <li class="item">Inverse d'une fraction;</li>
          <li class="item">Propriétés d'addition et de multiplication des fractions.</li>
        </ul>
      </div>
      <div class="item item-divider warning">
        Savoir-faire
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item">Ecriture fractionnaire d'un nombre décimal;</li>
          <li class="item">Simplification des fractions;</li>
          <li class="item">Addition et soustraction des fractions de même dénominateur;</li>
          <li class="item">Multiplication, division des fractions;</li>
          <li class="item">Comparaison des fractions.</li>
        </ul>
      </div>
      <div class="item item-divider warning">
        Savoir-être
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item">Sens de l'ordre et de la méthode</li>
          <li class="item">sens de la rigueur et de la concision</li>
        </ul>
      </div>
      <div class="item item-divider warning">
        Autres ressources
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item">Documentation</li>
          <li class="item">calculette</li>
          <li class="item">tableurs</li>
          <li class="item">matériel expérimental</li>
          <li class="item">thermomètres</li>
          <li class="item">altimètre</li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>
