<ion-view title="Module 8: Introduction">
    <ion-content padding="'true'" class="has-header">
      <h2>Solides de l’espace</h2><br>

      <p>Ce module comporte deux parties essentielles : prismes droits et sphère. Il développe
        deux compétences fondamentales que sont :</p>

      <ul class="list-cercle">
        <li>déployer un raisonnement mathématique(analogique, inductif et déductif)</li>
        <li>résoudre des problèmes par l'observation, l'identification et la caractérisation
          des objets de l'espace.</li>
      </ul>
      <p> Il s'articule sur la famille de situations suivante : usage des objets techniques
        dans la vie. Les compétences mises en contexte s'appuient sur les trois catégories
        d'actions qui suivent :</p>
      <ul>
        <li>Reconnaissance des solides dans l'espace.</li>
        <li>Production d'objets</li>
        <li>Production d'objets.</li>
        <li>Détermination des mesures</li>
      </ul>
      <p>Cette dernière catégorie d'actions est le champ privilégié de l'inter action entre
        les activités numériques et les activités géométriques de l'élève de 5ème.</p>
      <p>Les différentes actions qui s'intègrent dans chacune des catégories suscitées
        sont en corrélation avec les savoirs essentiels que ce module développe, et qui
        s'appuient sur les habiletés cognitives suivantes : connaissance, compréhension
        et application.</p>

      <h4> Contribution du module à la finalité et aux buts curriculaires</h4>
      <p>L'apprentissage de la géométrie en général, et de la géométrie dans l'espace
        en particulier concourt à la construction du raisonnement, à la familiarisation
        avec les techniques calculatoires telles que les calculs d'aires et des volumes.
        Le traitement de la famille de situations aidera l'élève à construire ces
        éléments de formation. Il pourra également se familiariser avec les techniques
        de classement, d'observation et de description, de représentation, autant d'attitudes
        qui contribuent à l'autonomie.</p>

      <h4>Contribution du module au programme d’études et aux domaines de vie</h4>
      <p>Les éléments de formation que l'élève construira en traitant avec compétence
        la famille de situations choisie devrait l'aider à réaliser des actions et résoudre
        des problèmes.</p>
      <p>De plus, le présent module est d'un apport significatif au domaine d'apprentissage
        intitulé "sciences et technologie", tant il participe à la conception, à
        la représentation, et à la réalisation des chefs d'oeuvres architecturaux, et de
        tous les objets technologiques qui nous entourent. Sa contribution à la représentation
        de la structure cristalline de certains éléments de base en chimie
        mérite elle aussi d'être soulignée. Enfin il ne serait pas superflu de signaler sa
        contribution au développement du design, des arts plastiques et graphiques,
        véhicules de grandes valeurs universelles telles que l'esthétique et l'harmonie.</p>
      <p>La contribution de ce module au développement de la technologie vient d'être
        soulignée plus haut. L'importance du développement de la technologie n'est
        plus à démontrer dans la vie économique, et dans l'amélioration du bien être
        familial. On peut donc affirmer par voie de conséquence que la contribution
        de ce module à la vie sociale et familiale, et surtout à la vie économique est
        déterminante. Cette contribution peut même être étendue, de manière implicite
        au domaine de la citoyenneté, et à celui des arts.</p>
    </ion-content>
</ion-view>
