<ion-view title="Module 5: Introduction">
    <ion-content padding="'true'" class="has-header">
      <h2>Relations et opérations fondamentales dans l’ensemble des nombres décimaux et des fractions</h2><br>

      <p>Ce module vise à rendre l'apprenant capable de traiter de façon réussie, des
        situations de vie de la famille "représentation, détermination des quantités
        et identification des objets par des nombres ". Il s'agit en gros, de le rendre
        capable de :</p>
      <ul class="list-cercle">
        <li>Résoudre des problèmes relatifs à des situations de vie telles que :
          l'achat ou la vente des biens de consommation, le partage des biens,
          la vérification d'une facture après payement, la comparaison des prix
          des objets ...</li>
        <li>Communiquer des informations comportant des nombres (numéros
          de téléphones, matricule, immatriculation d'un véhicule ...).</li>
      </ul>
      <p> Il importe pour cela de consolider les notions d'addition, de soustraction, de
        multiplication de division et de relation d'ordre vues en 6ème. Les savoirs essentiels
        associés au présent module constituent cependant une avancée vers
        une habileté cognitive supérieure en l'occurrence l'application (division euclidienne,
        décomposition d'un entier en produit de facteurs premiers, résolution
        des équations, etc.). L'enseignant pourra donc mettre un accent sur cette
        habileté dans les compétences liées à la résolution des problèmes.</p>

      <h4> Contribution du module à la finalité et aux buts curriculaires</h4>
      <p>Ce module permet de développer le sens de l'ordre, de la concision et l'esprit
        critique. Il contribue au renforcement de la pratique du calcul mental ou à
        l'utilisation de la calculatrice, ce qui permet à l'apprenant d'agir de manière
        autonome, compétente et adaptative dans diverses situations de la vie courante,
        dans lesquelles ces pratiques interviennent.</p>

      <h4>Contribution du module au programme d’études et aux domaines de vie</h4>
      <p>Ce module qui fait partie des programmes de mathématiques permet à chaque apprenant d’acquérir des connaissances et savoir-faire de base sur lesquels les
        enseignements/apprentissages qu’il recevra dans les autres disciplines du domaine d’apprentissage devront s’appuyer.</p>
      <p>Les nombres décimaux sont utilisés dans toutes les sciences pour mesurer, peser et évaluer les quantités.</p>
      <p>La maîtrise des concepts d'égalité, d'inégalité et des opérations fondamentales
        que sont l'addition, la soustraction, la multiplication et la division, est
        de nature à doter l'apprenant d'un certain nombre d’ outils fondamentaux
        dont il aura besoin dans la vie pratique.</p>
      <p>La gestion du budget familial, la comptabilité au sein de l'entreprise, l'évaluation
        des distances, des poids, des volumes, sont autant d'applications des
        nombres décimaux dans les domaines de vie que sont l'économie, les média,
        l'environnement, la santé et le bien être.</p>
    </ion-content>
</ion-view>
