<ion-view title="Module 6: Matrice">
    <ion-content padding="'true'" class="has-header">
      <h2>Statistiques</h2><br>
      <h3>Cadre de contextualisation</h3>

      <div class="row panneauVertClair">
        <div class="col-50">
          <span class="warning">Famille de situations</span><hr>
          <strong>Organisation desdonnées et estimation des quantités dans la consommation des biens et services</strong>
        </div>
        <div class="col-50">
          <span class="warning label">Exemples de situations</span><hr>
          <ul class="list-cercle">
            <li>Déplacements quotidiens</li>
            <li>Usage de médicaments.</li>
            <li>Pratique d’une activité de loisir ou sportive.</li>
            <li>Planification de repas ou d’activités agricoles.</li>
            <li>Achat ou vente d’un bien de consommation.</li>
            <li>Participation à une activité de formation à l’école ou en milieu de travail.
            </li>
            <li>Cheptel.</li>
            <li>Population</li>
            <li>Température</li>
          </ul>
        </div>
      </div>

      <br>

      <h3>Agir compétent</h3>

      <div class="row panneauVertClair">
        <div class="col-50">
          <span class="warning">Catégories d'actions</span><hr>
          <p><strong>Estimation des quantités</strong></p>
        </div>
        <div class="col-50">
          <span class="warning">Exemples d'actions</span><hr>
          <ul class="list-cercle">
            <li>Evaluer une augmentation ou une réduction des prix ;</li>
            <li>Evaluer les dimensions réelles d’un terrain à partir d’une maquette et vice-versa ;</li>
            <li>Calculer des prix, des intérêts ...</li>
            <li>Calculer des distances parcourues à l'aide des vitesses ...</li>
          </ul>
        </div>
      </div>

      <div class="row panneauVertClair">
        <div class="col-50">
          <hr>
          <p><strong>Traitement des informations comportant des nombres.</strong></p>
        </div>
        <div class="col-50">
          <hr>
          <ul class="list-cercle">
            <li> Partager des biens,</li>
            <li> Acheter des articles.</li>
          </ul>
        </div>
      </div>

      <div class="row panneauVertClair">
        <div class="col-50">
          <hr>
          <p><strong>Collecte, traitement et exploitation des données;</strong></p>
        </div>
        <div class="col-50">
          <hr>
          <ul class="list-cercle">
            <li> Observer et repartir les élèves d'un établissement par classes,
              par sexe, par âge, par taille, déterminer le taux de prévalence
              du VIH/SIDA, de la tuberculose, du paludisme d'une population</li>
          </ul>
        </div>
      </div>

    </ion-content>
</ion-view>
