<ion-view title="Module 8: Matrice">
    <ion-content padding="'true'" class="has-header">
      <h2>Solides de l’espace</h2><br>
      <h3>Cadre de contextualisation</h3>

      <div class="row panneauVertClair">
        <div class="col-50">
          <span class="warning">Famille de situations</span><hr>
          <strong>Représentations et transformations des configurations planes dans l’environnement</strong>
        </div>
        <div class="col-50">
          <span class="warning label">Exemples de situations</span><hr>
          <ul class="list-cercle">
            <li>Décrire des solides d'un environnement donnée;</li>
            <li>Identifier l'objet décrit par une personne.</li>
        </div>
      </div>

      <br>

      <h3>Agir compétent</h3>

      <div class="row panneauVertClair">
        <div class="col-50">
          <span class="warning">Catégories d'actions</span><hr>
          <p><strong>Production d'objets.</strong></p>
        </div>
        <div class="col-50">
          <span class="warning">Exemples d'actions</span><hr>
          <ul class="list-cercle">
            <li> fabriquer un moule;</li>
            <li> fabriquer un podium, un tabouret</li>
            <li> fabriquer un bac à fleur</li>
            <li> dresser une tente</li>
          </ul>
        </div>
      </div>

      <div class="row panneauVertClair">
        <div class="col-50">
          <hr>
          <p><strong>Détermination des mesures.</strong></p>
        </div>
        <div class="col-50">
          <hr>
          <ul class="list-cercle">
            <li> Déterminer la quantité d’eau dans une bassine;</li>
          </ul>
        </div>
      </div>

    </ion-content>
</ion-view>
