<ion-view title="Module 2: Matrice">
    <ion-content padding="'true'" class="has-header">
      <h2>Organisation et gestion des données</h2><br>
      <h3>Cadre de contextualisation</h3>

      <div class="row panneauVertClair">
        <div class="col-50">
          <span class="warning">Famille de situations</span><hr>
          <strong>Organisation des données et estimation des quantités dans la consommation des biens et services</strong>
        </div>
        <div class="col-50">
          <span class="warning label">Exemples de situations</span><hr>
          <ul class="list-cercle">
            <li>Facturation des prix sur le marché</li>
            <li>remises au cours d’achats divers</li>
            <li>placement d’argent</li>
            <li>endettement</li>
            <li>facturation dans les prestations de services (eau, électricité, téléphone)</li>
          </ul>
        </div>
      </div>

      <br>

      <h3>Agir compétent</h3>

      <div class="row panneauVertClair">
        <div class="col-50">
          <span class="warning">Catégories d'actions</span><hr>
          <p><strong>Estimation des quantités</strong></p>
        </div>
        <div class="col-50">
          <span class="warning">Exemples d'actions</span><hr>
          <ul class="list-cercle">
            <li>Evaluer une augmentation ou une réduction des prix ;</li>
            <li>Evaluer les dimensions réelles d’un terrain à partir d’une maquette et vice-versa ;</li>
            <li>Calculer des prix, des intérêts ...</li>
          </ul>
        </div>
      </div>

      <div class="row panneauVertClair">
        <div class="col-50">
          <hr>
          <p><strong>Traitement des informations comportant des nombres.</strong></p>
        </div>
        <div class="col-50">
          <hr>
          <ul class="list-cercle">
            <li> Partager des biens,</li>
            <li> Acheter des articles.</li>
          </ul>
        </div>
      </div>

    </ion-content>
</ion-view>
