<ion-view title="Module 3: Matrice">
    <ion-content padding="'true'" class="has-header">
      <h2>Configurations et transformations élémentaires du plan</h2><br>
      <h3>Cadre de contextualisation</h3>

      <div class="row panneauVertClair">
        <div class="col-50">
          <span class="warning">Famille de situations</span><hr>
          <strong>Représentations et transformations des configurations planes dans l’environnement</strong>
        </div>
        <div class="col-50">
          <span class="warning label">Exemples de situations</span><hr>
          <ul class="list-cercle">
            <li>Délimitation d’un terrain.</li>
            <li>Labour</li>
            <li>Confection d’un vêtement</li></ul>
        </div>
      </div>

      <br>

      <h3>Agir compétent</h3>

      <div class="row panneauVertClair">
        <div class="col-50">
          <span class="warning">Catégories d'actions</span><hr>
          <p><strong>Reconnaissance des formes planes et transformations dans
            l’environnement physique.</strong></p>
        </div>
        <div class="col-50">
          <span class="warning">Exemples d'actions</span><hr>
          <ul class="list-cercle">
            <li>Détecter la répétition d’un motif dans une peinture, sur un tissu;</li>
            <li>Décrire des formes planes dans un décor;</li>
            <li>Identifier un objet décrit par une personne ...</li>
          </ul>
        </div>
      </div>

      <div class="row panneauVertClair">
        <div class="col-50">
          <hr>
          <p><strong>Production des formes planes et transformations dans l’environnement
            physique.</strong></p>
        </div>
        <div class="col-50">
          <hr>
          <ul class="list-cercle">
            <li> Tracer le croquis d’une maison à construire</li>
            <li> Tracer le plan de masse d’un
              immeuble</li>
            <li>Tracer le patron d’un vêtement</li>
            <li>Associer des figures et des mesures à des objets observés</li>
            <li>Assembler d’un meuble</li>
            <li>Dessiner un motif de tissu</li>
            <li>Schématiser une pièce mécanique</li>
          </ul>
        </div>
      </div>

      <div class="row panneauVertClair">
        <div class="col-50">
          <hr>
          <p><strong>Détermination des mesures et des positions.</strong></p>
        </div>
        <div class="col-50">
          <hr>
          <ul class="list-cercle">
            <li> Estimer la quantité de tissu nécessaire pour confectionner
              un habit</li>
            <li>Estimer la portion de terrain qu’occupera un meuble, un
              potager</li>
            <li>Se situer dans un immeuble, sur un trajet</li>
          </ul>
        </div>
      </div>

    </ion-content>
</ion-view>
