<ion-view title="Module 5: Matrice">
    <ion-content padding="'true'" class="has-header">
      <h2>Relations et opérations fondamentales dans l’ensemble des nombres décimaux et des
        fractions</h2><br>
      <h3>Cadre de contextualisation</h3>

      <div class="row panneauVertClair">
        <div class="col-50">
          <span class="warning">Famille de situations</span><hr>
          <strong>Représentation, détermination des quantités et identification des objets par des nombres</strong>
        </div>
        <div class="col-50">
          <span class="warning label">Exemples de situations</span><hr>
          <ul class="list-cercle">
            <li>Achat ou vente des biens de consommation, partage des biens, vérification d’une facture après
              payement, comparaison des prix des objets;</li>
            <li>Communication des informations comportant des nombres (numéros de téléphones, matricule,
              immatriculation, d'un véhicule, ...)</li>
          </ul>
        </div>
      </div>

      <br>

      <h3>Agir compétent</h3>

      <div class="row panneauVertClair">
        <div class="col-50">
          <span class="warning">Catégories d'actions</span><hr>
          <p><strong>Détermination d'un nombre</strong></p>
        </div>
        <div class="col-50">
          <span class="warning">Exemples d'actions</span><hr>
          <ul class="list-cercle">
            <li>Compter des points dans une activité sportive, des objets… ;</li>
            <li>Calculer des sommes mises en jeu dans une transaction;</li>
            <li>Situer un évenement dans le temps</li>
            <li>Partager des biens</li>
          </ul>
        </div>
      </div>

      <div class="row panneauVertClair">
        <div class="col-50">
          <hr>
          <p><strong>Lecture ou écriture des renseignements comportant des chiffres ou à caractère
            monétaire.</strong></p>
        </div>
        <div class="col-50">
          <hr>
          <ul class="list-cercle">
            <li> Lire et noter une recette de cuisine</li>
            <li> Lire et écrire les prix des articles</li>
          </ul>
        </div>
      </div>

      <div class="row panneauVertClair">
        <div class="col-50">
          <hr>
          <p><strong>Interaction verbale sur des informations comportant des chiffres ou à caractère
            monétaire.</strong></p>
        </div>
        <div class="col-50">
          <hr>
          <ul class="list-cercle">
            <li> Communiquer le numéro de téléphone d'une connaissance</li>
            <li> Donner sa date de naissance</li>
            <li> Joindre les commerces par téléphones pour comparer le prix
              de vente ou de location d'un article ...</li>
          </ul>
        </div>
      </div>

    </ion-content>
</ion-view>
