<ion-view title="Nombres décimaux relatifs">
  <ion-content padding="'true'" class="has-header">
    <div class="card">
      <div class="item item-divider warning">
        Savoirs
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item">Opposé d'un nombre décimal relatif;</li>
          <li class="item">Puissance d'un nombre décimal relatif à exposant entier naturel non
            nul.</li>
        </ul>
      </div>
      <div class="item item-divider warning">
        Savoir-faire
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item">Addition, soustraction, multiplication et division des nombres décimaux;</li>
          <li class="item">Calculs sur les puissances;</li>
          <li class="item">Comparaison des nombres décimaux relatifs.</li>
        </ul>
      </div>
      <div class="item item-divider warning">
        Savoir-être
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item">Sens de l'ordre et de la méthode</li>
          <li class="item">sens de la rigueur et de la concision</li>
        </ul>
      </div>
      <div class="item item-divider warning">
        Autres ressources
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item">Documentation</li>
          <li class="item">calculette</li>
          <li class="item">tableurs</li>
          <li class="item">matériel expérimental</li>
          <li class="item">thermomètres</li>
          <li class="item">altimètre</li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>
