<ion-view title="Nombres décimaux arithmétiques">
  <ion-content padding="'true'" class="has-header">
    <div class="card">
      <div class="item item-divider warning">
        Savoirs
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item">Lecture et écriture d'un nombre décimal;</li>
          <li class="item">Propriétés d'addition et de multiplication des nombres décimaux.</li>
        </ul>
      </div>
      <div class="item item-divider warning">
        Savoir-faire
      </div>
      <div class="item item-text-wrap">
        <strong>Techniques et méthodes</strong>
        <ul class="list">
          <li class="item"><em>Opérations:</em> addition, soustraction, multiplication, division ;</li>
          <li class="item">Comparaison des nombres décimaux...</li>
        </ul>
      </div>
      <div class="item item-divider warning">
        Savoir-être
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item">Sens de l'ordre et de la méthode</li>
          <li class="item">sens de la rigueur et de la concision</li>
        </ul>
      </div>
      <div class="item item-divider warning">
        Autres ressources
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item">Documentation</li>
          <li class="item">calculette</li>
          <li class="item">tableurs</li>
          <li class="item">matériel expérimental</li>
          <li class="item">thermomètres</li>
          <li class="item">altimètre</li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>
