<ion-view title="Nombres entiers naturels">
  <ion-content padding="'true'" class="has-header">
    <div class="card">
      <div class="item item-divider warning">
        Savoirs
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item">Multiples et diviseurs d'un entier naturel.</li>
          <li class="item">Entiers naturels et ordre ;</li>
          <li class="item">Entiers naturels consécutifs ;</li>
          <li class="item">Propriétés d'addition et de multiplication des nombres entiers naturels.</li>
        </ul>
      </div>
      <div class="item item-divider warning">
        Savoir-faire
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item">Lecture et écriture des entiers</li>
          <li class="item">Opérations d'addition, de soustraction, de multiplication et de division; </li>
          <li class="item">Division à l'aide des critères de divisibilité : par 10, 100, 1000, .., par 2, 3, 5 et 9;</li>
          <li class="item">Nombre d'entiers consécutifs de m à n où n et m sont des entiers naturels.</li>
        </ul>
      </div>
      <div class="item item-divider warning">
        Savoir-être
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item">Sens de l'ordre et de la méthode</li>
          <li class="item">sens de la rigueur et de la concision</li>
        </ul>
      </div>
      <div class="item item-divider warning">
        Autres ressources
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item">Documentation</li>
          <li class="item">calculette</li>
          <li class="item">tableurs</li>
          <li class="item">matériel expérimental</li>
          <li class="item">thermomètres</li>
          <li class="item">altimètre</li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>
