<ion-view title="Polygones">
  <ion-content padding="'true'" class="has-header">
    <div class="card">
      <div class="item item-divider warning">
        Savoirs
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item"><em>Polygones usuels:</em>triangle, trapèze, pentagone, hexagone régulier, octogone
            régulier, parallélogrammes.</li>
        </ul>
      </div>
      <div class="item item-divider warning">
        Savoir-faire
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item"><em>Caractérisation des polygones particuliers en liaison avec les symétries:</em>trapèze
            isocèle, hexagone régulier, octogone régulier.</li>
          <li class="item"><em>Reconnaître et construire un polygone particulier: </em>parallélogramme, trapèze,
            losange, hexagone régulier, octogone régulier, pentagone.</li>
        </ul>
      </div>
      <div class="item item-divider warning">
        Savoir-être
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item">Sens de l'ordre et de la méthode</li>
          <li class="item">sens de la rigueur et de la concision</li>
        </ul>
      </div>
      <div class="item item-divider warning">
        Autres ressources
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item">Matériels de géométrie</li>
          <li class="item">matériel expérimental</li>
          <li class="item">micro ordinateur</li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>
