<ion-view title="Proportionnalité">
  <ion-content padding="'true'" class="has-header">
    <div class="card">
      <div class="item item-divider warning">
        Savoirs
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item">Coefficient de proportionnalité</li>
        </ul>
      </div>
      <div class="item item-divider warning">
        Savoir-faire
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item">Calcul d'un coefficient de proportionnalité particulier : vitesse, masse
            volumique, débit.</li>
          <li class="item">Calcul d'un pourcentage, d'une échelle.</li>
          <li class="item">Représentation graphique d'une situation de proportionnalité dans
            un quadrillage.</li>
          <li class="item">Identification et exploitation du graphique d'une situation de proportionnalité
            dans un quadrillage.</li>
        </ul>
      </div>
      <div class="item item-divider warning">
        Savoir-être
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item">Sens de l'ordre et de la concision</li>
          <li class="item">curiosité</li>
          <li class="item">esprit critique</li>
        </ul>
      </div>
      <div class="item item-divider warning">
        Autres ressources
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item">Documentation</li>
          <li class="item">calculette</li>
          <li class="item">tableurs</li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>
