<ion-view title="Proportionnalité">
  <ion-content padding="'true'" class="has-header">
    <div class="card">
      <div class="item item-divider warning">
        Savoirs
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item">Tableau de proportionnalité;</li>
          <li class="item">Coefficients de proportionnalité;</li>
          <li class="item">Suite de nombres proportionnels;</li>
          <li class="item">Quatrième proportionnelle;</li>
          <li class="item">Pourcentage, échelle;</li>
          <li class="item">Propriétés des nombres proportionnels.</li>
        </ul>
      </div>
      <div class="item item-divider warning">
        Savoir-faire
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item">Utilisation des coefficients de proportionnalités comme opérateurs;</li>
          <li class="item">Utilisation des propriétés des nombres proportionnels pour déterminer
            des quantités;</li>
          <li class="item">Utilisation des pourcentages et des échelles comme opérateurs.</li>
        </ul>
      </div>
      <div class="item item-divider warning">
        Savoir-être
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item">Sens de l'ordre et de la concision</li>
          <li class="item">curiosité</li>
          <li class="item">esprit critique</li>
        </ul>
      </div>
      <div class="item item-divider warning">
        Autres ressources
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item">Documentation</li>
          <li class="item">calculette</li>
          <li class="item">tableurs</li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>
