<ion-view title="Repérage d'un point sur une droite">
  <ion-content padding="'true'" class="has-header">
    <div class="card">
      <div class="item item-divider warning">
        Savoirs
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item">Demi-droite graduée, droite graduée;</li>
          <li class="item">Origine, unité, abscisse d'un point, abscisse du milieu d'un segment.</li>
        </ul>
      </div>
      <div class="item item-divider warning">
        Savoir-faire
      </div>
      <div class="item item-text-wrap">
        Placement d'un point d'abscisse donnée.
      </div>
      <div class="item item-divider warning">
        Savoir-être
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item">Sens de l'ordre et de la méthode</li>
          <li class="item">sens de la rigueur et de la concision</li>
        </ul>
      </div>
      <div class="item item-divider warning">
        Autres ressources
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item">Matériels de géométrie</li>
          <li class="item">matériel expérimental</li>
          <li class="item">micro ordinateur</li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>
