<ion-view title="Repérage d'un point sur un quadrillage">
  <ion-content padding="'true'" class="has-header">
    <div class="card">
      <div class="item item-divider warning">
        Savoirs
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item">Vocabulaire;</li>
          <li class="item">Notion de couple de coordonnées (entiers relatifs).</li>
        </ul>
      </div>
      <div class="item item-divider warning">
        Savoir-faire
      </div>
      <div class="item item-text-wrap">
        <li class="item">Placer sur un quadrillage, un point dont on connaît le couple de coordonnées
          (entiers relatifs);</li>
        <li class="item">Lire le couple de coordonnées d'un point dans un quadrillage.</li>
      </div>
      <div class="item item-divider warning">
        Savoir-être
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item">Sens de l'ordre et de la méthode</li>
          <li class="item">sens de la rigueur et de la concision</li>
        </ul>
      </div>
      <div class="item item-divider warning">
        Autres ressources
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item">Matériels de géométrie</li>
          <li class="item">matériel expérimental</li>
          <li class="item">micro ordinateur</li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>
