<ion-view title="Module 1: Ressources">
  <ion-content padding="'true'" class="has-header">
    <h2>Relations et opérations fondamentales dans l’ensemble des nombres décimaux et des fractions</h2><br>

    <ion-list class="lateral-transparent">
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/nombresEntiersNaturelsM1">Nombres entiers naturels
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/fractionsM1">Fractions
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/nombresDecimauxArithmetiquesM1">Nombres décimaux arithmétiques
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/nombresDecimauxRelatifsM1">Nombres décimaux relatifs
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/calculLitteralM1">Calcul littéral
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
    </ion-list>
  </ion-content>
</ion-view>
