<ion-view title="Module 3: Ressources">
  <ion-content padding="'true'" class="has-header">
    <h2>Configurations et transformations élémentaires</h2><br>

    <ion-list class="lateral-transparent">
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/droitesDuPlanM3">Droites du plan
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/segmentsM3">Segments
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/cercleM3">Cercle
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/anglesM3">Angles
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/trianglesM3">Triangles
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/parallelogrammesM3">Parallélogrammes
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/symetriesOrthogonalesM3">Symetries orthogonales
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/symetriesCentralesM3">Symetries centrales
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/reperagePointDroiteM3">Repérage d'un point sur
        une droite
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
    </ion-list>
  </ion-content>
</ion-view>
