<ion-view title="Module 6: Ressources">
  <ion-content padding="'true'" class="has-header">
    <h2>Statistiques</h2><br>

    <ion-list class="lateral-transparent">
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/proportionnaliteM6">Proportionnalité
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/statistiquesM6">Statistiques
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
    </ion-list>
  </ion-content>
</ion-view>
