<ion-view title="Ressources">
  <ion-content padding="'true'" class="has-header">
    <ion-list class="lateral-transparent">

      <ion-item class="item-divider">Sixième</ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/angles6">Angles
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/calculLitteral6">Calcul littéral
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/cercle6">Cercle
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/cubeEtPaveDroit6">Cube et pavé droit
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/cylindre6">Cylindre
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/droitesDuPlan6">Droites du plan
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/fractions6">Fractions
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/nombresDecimauxArithmetiques6">Nombres décimaux
        arithmétiques
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/nombresDecimauxRelatifs6">Nombres décimaux
        relatifs
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/nombresEntiersNaturels6">Nombres entiers naturels
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/parallelogrammes6">Parallélogrammes
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/proportionnalite6">Proportionnalité
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/reperagePointDroite6">Repérage d'un point sur une
        droite
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/segments6">Segments
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/symetriesCentrales6">Symetries centrales
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/symetriesOrthogonales6">Symetries orthogonales
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/triangles6">Triangles
        <i class="icon ion-android-arrow-dropright"></i></ion-item>

      <ion-item class="item-divider">Cinquième</ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/angles5">Angles
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/arithmetique5">Arithmétique
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/calculLitteral5">Calcul littéral
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/cercle5">Cercle
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/distances5">Distances
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/fractions5">Fractions
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/nombresDecimauxRelatifs5">Nombres décimaux
        relatifs
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/polygones5">Polygones
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/prismeDroit5">Prisme droit
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/proportionnalite5">Proportionnalité
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/reperagePointDroite5">Repérage d'un point sur
        une droite
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/reperagePointQuadrillage5">Repérage d'un point sur un
        quadrillage
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/sphere5">Sphère
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/statistiques5">Statistiques
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/symetries5">Symetries
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/symetriesOrthogonales6">Symetries orthogonales
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/triangles5">Triangles
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
    </ion-list>
  </ion-content>
</ion-view>
