<ion-view title="Module 4: Ressources">
  <ion-content padding="'true'" class="has-header">
    <h2>Configurations et transformations élémentaires</h2><br>

    <ion-list class="lateral-transparent">
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/cubeEtPaveDroitM4">Cube et pavé droit
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/cylindreM4">Cylindre
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
    </ion-list>
  </ion-content>
</ion-view>
