<ion-view title="Module 7: Ressources">
  <ion-content padding="'true'" class="has-header">
    <h2>Configurations et transformations élémentaires du plan</h2><br>

    <ion-list class="lateral-transparent">
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/distancesM7">Distances
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/trianglesM7">Triangles
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/polygonesM7">Polygônes
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/symetriesM7">Symétries
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/anglesM7">Angles
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/cercleM7">Cercle
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/reperagePointDroiteM7">Repérage d'un point sur
        une droite
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/reperagePointQuadrillageM7">Repérage d'un point sur
        un quadrillage
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
    </ion-list>
  </ion-content>
</ion-view>
