<ion-view title="Module 5: Ressources">
  <ion-content padding="'true'" class="has-header">
    <h2>Relations et opérations fondamentales dans l’ensemble des nombres décimaux et des
      fractions</h2><br>

    <ion-list class="lateral-transparent">
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/arithmetiqueM5">Arithmétique
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/fractionsM5">Fractions
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/nombresDecimauxRelatifsM5">Nombres décimaux
        relatifs
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/calculLitteralM5">Calcul littéral
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
    </ion-list>
  </ion-content>
</ion-view>
