<ion-view title="Segments">
  <ion-content padding="'true'" class="has-header">
    <div class="card">
      <div class="item item-divider warning">
        Savoirs
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item">Segments, support d'un segment;</li>
          <li class="item">Longueur d'un segment;<br>
            <em>Propriété:</em> si M$\in$[AB] alors MA+MB=AB
          </li>
          <li class="item">Milieu d'un segment;<br>
            <em>Propriété:</em> si M est milieu du segment [AB] alors MA=$\frac{AB}{2}$=MB
          </li>
          <li class="item">Médiatrice d'un segment : définition.</li>
        </ul>
      </div>
      <div class="item item-divider warning">
        Savoir-faire
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item">Construction de la médiatrice d'un segment à l'aide de la règle et de
            l'équerre;
          </li>
          <li class="item">Construction d'un segment donné;</li>
          <li class="item">Construction du milieu d'un segment donné à l'aide de la règle graduée;</li>
          <li class="item">Conversion des unités de longueur.</li>
        </ul>
      </div>
      <div class="item item-divider warning">
        Savoir-être
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item">Sens de l'ordre et de la méthode</li>
          <li class="item">sens de la rigueur et de la concision</li>
        </ul>
      </div>
      <div class="item item-divider warning">
        Autres ressources
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item">Matériels de géométrie</li>
          <li class="item">matériel expérimental</li>
          <li class="item">micro ordinateur</li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>
