<ion-view title="Sixième">
  <ion-content padding="'true'" class="has-header">
    <ion-list class="lateral-transparent">
      <ion-item class="item-divider">Module 1</ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/introductionModule1">Introduction
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/matriceModule1">Matrice
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/ressourceModule1">Ressources
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item-divider">Module 2</ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/introductionModule2">Introduction
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/matriceModule2">Matrice
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/ressourceModule2">Ressources
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item-divider">Module 3</ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/introductionModule3">Introduction
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/matriceModule3">Matrice
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/ressourceModule3">Ressources
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item-divider">Module 4</ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/introductionModule4">Introduction
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/matriceModule4">Matrice
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
      <ion-item class="item item-icon-right" menu-close="" href="#/tab/ressourceModule4">Ressources
        <i class="icon ion-android-arrow-dropright"></i></ion-item>
    </ion-list>
  </ion-content>
</ion-view>
