<ion-view title="Statistiques">
  <ion-content padding="'true'" class="has-header">
    <div class="card">
      <div class="item item-divider warning">
        Savoirs
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item"><em>Vocabulaire:</em> population, caractère, modalité, effectif d'unepopulation,
            effectif d'une modalité.</li>
          <li class="item">Fréquences</li>
        </ul>
      </div>
      <div class="item item-divider warning">
        Savoir-faire
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item">Elaboration d'un tableau des effectifs et des fréquences en pourcentage.</li>
        </ul>
      </div>
      <div class="item item-divider warning">
        Savoir-être
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item">Sens de l'ordre et de la concision</li>
          <li class="item">curiosité</li>
          <li class="item">esprit critique</li>
        </ul>
      </div>
      <div class="item item-divider warning">
        Autres ressources
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item">Documentation</li>
          <li class="item">calculette</li>
          <li class="item">tableurs</li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>
