<ion-view title="Symetries">
  <ion-content padding="'true'" class="has-header">
    <div class="card">
      <div class="item item-divider warning">
        Savoirs
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item">Symétries par rapport à un point, symétrie orthogonale.</li>
          <li class="item"><em>Propriétés de conservation :</em> distances, angles, formes, parallélisme, orthogonalité,
            alignement des points.
          </li>
        </ul>
      </div>
      <div class="item item-divider warning">
        Savoir-faire
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item">Construction des figures symétriques par rapport à une droite ou un
            point (point, droite, segment, triangle, cercle);
          </li>
          <li class="item">Utilisation des propriétés de conservation pour justifier une égalité
            de distance ou angulaire ou l'alignement de 3 points, l'orthogonalité
            ou le parallélisme de 2 droites ;
          </li>
          <li class="item">Remplir un tableau de correspondance dans l'étude des figures symétriques
            ;</li>
          <li class="item">Reconnaître une configuration admettant un axe(ou un centre) de symétrie
            et préciser cet axe (ou ce centre) de symétrie.</li>
        </ul>
      </div>
      <div class="item item-divider warning">
        Savoir-être
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item">Sens de l'ordre et de la méthode</li>
          <li class="item">sens de la rigueur et de la concision</li>
        </ul>
      </div>
      <div class="item item-divider warning">
        Autres ressources
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item">Matériels de géométrie</li>
          <li class="item">matériel expérimental</li>
          <li class="item">micro ordinateur</li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>
