<ion-view title="Tabs Controller">
    <ion-tabs class="tabs-light tabs-icon-top">
        <ion-tab title="Présentation générale" icon="ion-android-home" href="#/tab/presentation">
            <ion-nav-view name="PresentationGenerale"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Classes" icon="ion-briefcase" href="#/tab/classes">
            <ion-nav-view name="Classes"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Ressources" icon="ion-android-list" href="#/tab/ressources">
            <ion-nav-view name="Ressources"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
