<ion-view title="Triangles">
  <ion-content padding="'true'" class="has-header">
    <div class="card">
      <div class="item item-divider warning">
        Savoirs
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item">Vocabulaire ;</li>
          <li class="item">Triangles particuliers;</li>
          <li class="item"><em>Droites particulières d'un triangle:</em> hauteur, médiane, bissectrice, médiatrice
            d'un côté;</li>
          <li class="item">Périmètre et aire.</li>
        </ul>
      </div>
      <div class="item item-divider warning">
        Savoir-faire
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item">Construction d'un triangle connaissant : les longueurs des côtés, la
            longueur de deux côtés et la mesure de l'angle qu'ils forment, la longueur
            d'un côté et les mesures des angles à ses extrémités;</li>
          <li class="item">Construction des triangles particuliers;</li>
          <li class="item">Construction d'une hauteur, d'une médiane, d'une médiatrice, d'une bissectrice dans un triangle.</li>
          <li class="item">Calcul du périmètre et de l'aire.</li>
        </ul>
      </div>
      <div class="item item-divider warning">
        Savoir-être
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item">Sens de l'ordre et de la méthode</li>
          <li class="item">sens de la rigueur et de la concision</li>
        </ul>
      </div>
      <div class="item item-divider warning">
        Autres ressources
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item">Matériels de géométrie</li>
          <li class="item">matériel expérimental</li>
          <li class="item">micro ordinateur</li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>
